body{
    margin: 0;
    font-family: SF Pro Display, Arial, Helvetica, sans-serif;
}

/*====================================*/

/*       Common Styling Start         */

/*====================================*/

.w-50{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.container{
    overflow: hidden;
    width: 80%;
    margin: auto;
}
h1{
    margin: 0;
}


/*====================================*/

/*       Common Styling End         */

/*====================================*/



/*====================================*/

/*       Custom Styling Start         */

/*====================================*/





/*====================================*/
/*       Main Area Start         */
/*====================================*/

.main-area{
    background: #f0f2f5;
    overflow: hidden;
    padding: 135px 0;
    
}
.main-area .facebook-image {
    height: 106px;
    margin: -28px;
}
.main-area .facebook-image img{
    width: 316px;
}

.main-area .facebook-help h1 {
    margin-left: 32px;
    font-weight: normal;
}
.main-area .login-form {
    background: #ffffff;
    padding: 18px;
    border-radius: 7px;
    text-align: center;
}
.main-area .login-form .forgotPassLink {
    margin-top: 16px;
    text-align: center;
    font-family: 12px;
}
.main-area .login-form .forgotPassLink a {
    text-decoration: none;
    color: #0866ff;
    font-size: 14px;
    font-weight: 500;
}
.main-area .login-form form{
    border-radius: inherit;
}
.main-area .login-form input[type="text"], 
.main-area .login-form input[type="password"]
{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 18px;
    margin-bottom: 18px;
    border-radius: inherit;
    /* border-radius: 7px; */
    border: 1px solid #dddfe2;
    /* border-color: #0866ff; */
}
.line{
    border-top: 1px solid #dddfe2;
    margin: 18px 18px;
}
.main-area .login-form input[type="text"]::focus, 
.main-area .login-form input[type="password"]::focus
{
  border: 1px solid red;
}
.main-area .login-form input[type="submit"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background: #0866ff;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
    border: none;
    border-radius: 7px;
}
::placeholder {
  font-size: 16px;
  color: #c2c4c9;
}
.bbnc{
    padding-top: 6px;
}
.bbnc2{
    display: inline-block;
    background: #42b72a;
    line-height: 48px;
    color: #fff;
    padding: 0 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    border-radius: 7px;
    text-decoration: none;
}
/*====================================*/
/*       Main Area End         */
/*====================================*/

