body{
    margin: 0;
    font-family: SF Pro Display, Arial, Helvetica, sans-serif;
}

/*====================================*/

/*       Common Styling Start         */

/*====================================*/

.w-50{
    width: 50%;
    float: left;
    box-sizing: border-box;
}




/*====================================*/

/*       Common Styling End         */

/*====================================*/



/*====================================*/

/*       Custom Styling Start         */

/*====================================*/





/*====================================*/
/*       Main Area Start         */
/*====================================*/

.main-area{
    background: #f0f2f5;
    overflow: hidden;
    padding: 135px;
    
}
.main-area .facebook-image img{
    width: 316px;
}

.main-area .facebook-help h2 {
    margin-left: 32px;
    /* color: #494b4e; */
    font-weight: normal;
}
.main-area .login-form {
    background: #ffffff;
    padding: 18px;
}
.main-area .login-form input[type="text"], 
.main-area .login-form input[type="password"]
{
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 18px;
    margin-bottom: 18px;
    border-color: #0866ff;
}

.main-area .login-form input[type="submit"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background: #0866ff;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
}

/*====================================*/
/*       Main Area End         */
/*====================================*/

